.ml10 {
    margin-left: 10px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.curp {
    cursor: pointer;
}
.full-height {
    height: 100%;
}
.text-center {
    text-align: center;
}
